.react-parallax-bgimage{
    filter: blur(3px) brightness(50%) !important;
    -webkit-filter: blur(3px) brightness(50%) !important;
}
.insideStyles{
    color: white;
    position: absolute;
    text-align: center;
    top: 38%;
    width: 100%;
    font-size: 75px;
    letter-spacing: 0.1ch;
}
@media only screen and (max-width: 375px){
    .insideStyles{
        font-size: 40px;
        letter-spacing: 0;
    }
}
@media only screen and (min-width: 375px) and (max-width: 500px){
    .insideStyles{
        font-size: 50px;
        letter-spacing: 0;
    }
}
@media only screen and (min-width: 500px) and (max-width: 700px){
    .insideStyles{
        font-size: 60px;
        letter-spacing: 0;
    }
}