a {
    color: black;
    transition: 0.3s;
    &:hover{
        color: brown;
    }
}

.label{
    float: left;
    text-align: right;
    transform: translate(-10%, 25%);
    width: 100%;
}

.iconStyle{
    padding: 15px;
    outline: 1px black;
    outline-style: solid;
    float: left;
}