a {
    color: black;
    &:hover{
        color: brown;
    }
}
.labelLocation{
    margin: 20px 112px 0 auto;
    float: right;
    font-size: 18px;
    
}
.labelCall{
    margin: 20px 80px 0 auto;
    float: right;
    font-size: 18px;
}
.labelEmail{
    margin: 20px 30px 0 auto;
    float: right;
    font-size: 18px;
}
.iconStyle{
    padding: 15px;
    outline: 1px black;
    outline-style: solid;
}